---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

import { dateString } from "../util.ts";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const data = post.data;

const published = dateString(data.date);
---

<a href={`/blog/${post.slug}`} class="blog-card">
  <Image
    src={data.cover}
    alt={data.coverAlt}
    widths={[540, 720]}
    sizes="(min-width: 768px) 50vw, 100vw"
  />

  <div class="details">
    <h2>{data.name}</h2>
    <p>{data.brief}</p>
    <span>{published}</span>
  </div>
</a>

<style>
  .blog-card {
    display: grid;
    grid-template-columns: minmax(100px, 400px) auto;

    color: var(--text);
    background-color: var(--background-alt);

    padding: var(--size-fluid-2);
    border: thin solid var(--text-alt);
    gap: var(--size-4);

    width: min(100%, var(--size-content));
  }

  .blog-card:hover {
    filter: unset;
  }

  @media (max-width: 768px) {
    .blog-card {
      grid-template-rows: auto auto;
      grid-template-columns: auto;
    }
  }

  .blog-card:hover h2 {
    text-decoration: underline;
  }

  .blog-card > * {
    flex-basis: var(--size-content-1);
  }

  .blog-card > img {
    max-width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .details {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .details > span {
    color: var(--text-alt);
    font-size: var(--font-size-2);
    justify-self: end;
  }
</style>
