---
import { getCollection } from "astro:content";

import CloseIcon from "~icons/mdi/close";
import FullScreenIcon from "~icons/mdi/fullscreen";

import { Code } from "astro:components";
import BaseLayout from "../../layouts/BaseLayout.astro";
import SketchRunner from "../../components/SketchRunner.svelte";
import Modal from "../../components/Modal.svelte";

import { getSketchSource } from "../../sketches";

export async function getStaticPaths() {
  const sketchEntries = await getCollection("sketches");

  return sketchEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const data = entry.data;

const { code, lang } = await getSketchSource(entry);
const { Content } = await entry.render();
---

<BaseLayout title={data.name + " | Sketches"} description={data.brief}>
  <Modal id="showSketch" client:load>
    <Code {code} {lang} />
    <CloseIcon slot="close-button" />
  </Modal>

  <article>
    <header>
      <SketchRunner client:load sketch={entry} />

      <div class="sketch-buttons">
        <button onclick="window.showSketch.showModal()">
          Show Source Code
        </button>
        <button
          onclick="document.getElementById('sketch-canvas').requestFullscreen()"
          class="fullscreen-toggle"
        >
          <span>Go Fullscreen</span>
          <FullScreenIcon />
        </button>
      </div>
    </header>

    <main class="content">
      <hgroup>
        <h1>{data.name}</h1>
        <p>{data.brief}</p>
      </hgroup>

      <Content />
    </main>
  </article>
</BaseLayout>

<style>
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-inline: auto;
    gap: var(--size-fluid-2);

    max-width: 120ch;
  }

  :global(#showSketch pre) {
    margin: 0;
    padding: var(--size-fluid-2);
    border-radius: var(--radius-3);
    width: min(80ch, 100%);
  }

  header {
    align-self: start;
    position: sticky;
    --top: var(--size-8);
    top: calc(var(--top) + var(--size-4));
    width: 100%;
    padding-block: var(--top);
  }

  .sketch-buttons {
    display: flex;
    flex-flow: row wrap;
    gap: var(--size-1);
  }

  .sketch-buttons > button {
    background-color: var(--background-alt);
    padding-block: var(--size-fluid-2);
    text-align: center;
    flex-grow: 1;
    flex-basis: 20ch;
  }

  .fullscreen-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  hgroup {
    margin-block-end: var(--size-fluid-6);
  }

  main :global(pre) {
    padding: var(--size-fluid-2);
    border-radius: var(--radius-2);
  }

  @media (max-width: 1024px) {
    article {
      grid-template-columns: 1fr;
    }

    header {
      position: revert;
      padding-inline: var(--size-fluid-3);
    }
  }
</style>
