---
import SketchCanvas from '@components/SketchCanvas'
import Layout from '@layouts/Layout.astro'
import { getEntryBySlug } from 'astro:content'
import 'katex/dist/katex.min.css'

const { slug } = Astro.params

const sketch = await getEntryBySlug('sketches', slug!)

if (sketch === undefined) {
    return Astro.redirect('/404')
}

const { Content, headings } = await sketch.render()
---

<Layout title={`${sketch.data.name} | Sketches`}>
    <article class="mx-auto my-8 grid w-fit grid-cols-1 gap-y-8 gap-x-8 px-6 lg:grid-cols-2">
        <SketchCanvas client:load slug={slug!} />

        <main class="space-y-6">
            <nav class="card prose dark:prose-invert px-6 py-8">
                <h3>Contents</h3>
                <ul class="list-disc">
                    {
                        headings.map((h) => (
                            <li class="toc" style={`--depth:${h.depth - 2}`}>
                                <a href={`#${h.slug}`}>{h.text}</a>
                            </li>
                        ))
                    }
                </ul>
            </nav>

            <div class="prose dark:prose-invert">
                <hgroup>
                    <h1>{sketch.data.name}</h1>
                    <p>{sketch.data.brief}</p>
                </hgroup>

                <Content />
            </div>
        </main>
    </article>
</Layout>

<style>
    article :global(.card) {
        @apply self-start bg-white dark:border-0 border dark:bg-flamingo-900 shadow-sm;
    }

    li.toc {
        margin-left: calc(1.25em * var(--depth));
    }
</style>
