---
import SketchCanvas from '@components/SketchCanvas'
import Layout from '@layouts/Layout.astro'
import { CollectionEntry, getCollection } from 'astro:content'

interface Props {
    sketch: CollectionEntry<'sketches'>
}

export async function getStaticPaths() {
    const sketches = await getCollection('sketches')

    return sketches.map((sketch) => {
        return {
            params: { slug: sketch.slug },
            props: { sketch },
        }
    })
}

const slug = Astro.params.slug!
const { sketch } = Astro.props
const { Content, headings } = await sketch.render()
---

<Layout title={`${sketch.data.name} | Sketches`}>
    <article class="mx-auto w-fit px-6 my-8 grid gap-x-6 gap-y-8 lg:grid-cols-[1fr_auto]">
        <SketchCanvas client:load {slug} />

        <nav class="prose card lg:order-1 lg:sticky top-20">
            <h3>Contents</h3>
            <ul class="list-disc">
                {headings.map((h) => (
                    <li>
                        <a href=`#${h.slug}`>{h.text}</a>
                    </li>
                ))}
            </ul>
        </nav>

        <main class="prose">
            <hgroup>
                <h1>{sketch.data.name}</h1>
                <p>{sketch.data.brief}</p>
            </hgroup>

            <Content />
        </main>
    </article>
</Layout>

<style is:global>
    .card {
        @apply px-6 py-8 shadow-sm border self-start;
    }
</style>
<!-- <figure class="mx-auto w-min border shadow-sm transition-shadow focus-within:shadow-lg focus-within:outline outline-1 outline-sky-200"> <SketchCanvas client:load {slug} /> </figure> -->
